
*.bt2
*.fa
*.tar
analyses/2019-08-30-Bismark-Parameter-Testing/YRVA_R1_001.fastq.gz
analyses/2019-08-30-Bismark-Parameter-Testing/YRVA_R2_001.fastq.gz
analyses/2019-08-30-Bismark-Parameter-Testing/YRVL_R1_001.fastq.gz
analyses/2019-08-30-Bismark-Parameter-Testing/YRVL_R2_001.fastq.gz
.Rproj.user
*.bam
analyses/2019-09-12-MethylKit/.Rhistory
.RData
.Rhistory
analyses/2019-09-12-MethylKit/2019-09-12-Methylation-Information-Filtered-Destrand-Cov5.bed
analyses/2019-09-12-MethylKit/2019-09-12-Loci-Analysis/2019-09-12-All-Loci-Methylation-Statistic-Filtered-Destrand-50-Cov5.csv
analyses/2019-09-12-MethylKit/2019-09-12-Methylation-Information-Filtered-Destrand-Cov10.bed
analyses/2019-09-12-MethylKit/2019-09-12-Loci-Analysis/2019-09-12-All-Loci-Methylation-Statistic-Filtered-Destrand-50-Cov10.csv
analyses/2019-09-15-DML-Analysis/2019-09-15-Exon-CGmotifs.txt
analyses/2019-09-15-DML-Analysis/2019-09-15-Genes-CGmotifs.txt
analyses/2019-09-15-DML-Analysis/2019-09-15-Intron-CGmotifs.txt
analyses/2019-09-15-DML-Analysis/2019-09-15-Promoter-CGmotifs.txt
analyses/2019-09-15-DML-Analysis/2019-09-15-TE-CGmotifs.txt
analyses/2019-09-12-MethylKit/2019-09-15-Methylation-Information-Filtered-Destrand-Cov5.bed
analyses/2019-09-12-MethylKit/2019-09-15-Methylation-Information-Filtered-Destrand-Cov10.bed
analyses/2019-09-12-MethylKit/2019-09-15-Loci-Analysis/2019-09-15-All-Loci-Methylation-Statistic-Filtered-Destrand-50-Cov5.csv
analyses/2019-09-12-MethylKit/2019-09-15-Loci-Analysis/2019-09-15-All-Loci-Methylation-Statistic-Filtered-Destrand-50-Cov10.csv
analyses/2019-09-15-DML-Analysis/uniprot-SP-GO.sorted
*.gff
analyses/2019-09-13-IGV-Verification/YRVL_R1_001_bismark_bt2_pe.deduplicated.bismark.cov
analyses/2019-09-13-IGV-Verification/YRVA_R1_001_bismark_bt2_pe.deduplicated.bismark.cov
analyses/2019-09-13-IGV-Verification/YRVA_R1_001_bismark_bt2_pe.deduplicated.bismark.cov_10x.bedgraph
analyses/2019-09-13-IGV-Verification/YRVA_R1_001_bismark_bt2_pe.deduplicated.bismark.cov_5x.bedgraph
analyses/2019-09-13-IGV-Verification/YRVL_R1_001_bismark_bt2_pe.deduplicated.bismark.cov_10x.bedgraph
analyses/2019-09-13-IGV-Verification/YRVL_R1_001_bismark_bt2_pe.deduplicated.bismark.cov_5x.bedgraph
